@model IEnumerable<Ecommerce.BD.Models.Log>

@{
    ViewData["Title"] = "Logs";
    Layout = "_AdminLayout";
}

<h2>Logs</h2>

<table class="table">
    <thead>
        <tr>
            <th>Log ID</th>
            <th>Usuario ID</th>
            <th>Acción</th>
            <th>Fecha</th>
            <th>Nivel</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        {
            <tr>
                <td>@log.LogId</td>
                <td>@log.Usuario?.IdentityUser?.Email</td>
                <td>@log.LogsAccion</td>
                <td>@log.LogsFecha?.ToString("g")</td> <!-- Formato de fecha -->
                <td>@log.LogsNivel</td>
            </tr>
        }
    </tbody>
</table>
